---
import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
  author?: string;
  date?: string;
}

const { title, description, author, date } = Astro.props;
---

<Base title={title} description={description}>
  <article>
    <h1 class="article-title">{title}</h1>
    {
      (author || date) && (
        <p class="article-meta">
          {author && <span>By {author}</span>}
          {author && date && <span> · </span>}
          {date && <time>{date}</time>}
        </p>
      )
    }
    <slot />
  </article>
</Base>
